/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input, button, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, textarea, summary,
time, mark, audio, video, div:after, div:before {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

@font-face {
    font-family: 'HVDFontsBrandonTextLight';
    src: url('../fonts/HVDFontsBrandonTextLight.eot');
    src: url('../fonts/HVDFontsBrandonTextLight.eot') format('embedded-opentype'),
         url('../fonts/HVDFontsBrandonTextLight.woff2') format('woff2'),
         url('../fonts/HVDFontsBrandonTextLight.woff') format('woff'),
         url('../fonts/HVDFontsBrandonTextLight.ttf') format('truetype'),
         url('../fonts/HVDFontsBrandonTextLight.svg#HVDFontsBrandonTextLight') format('svg');
}

@font-face {
    font-family: 'HVDFontsBrandonTextRegular';
    src: url('../fonts/HVDFontsBrandonTextRegular.eot');
    src: url('../fonts/HVDFontsBrandonTextRegular.eot') format('embedded-opentype'),
         url('../fonts/HVDFontsBrandonTextRegular.woff2') format('woff2'),
         url('../fonts/HVDFontsBrandonTextRegular.woff') format('woff'),
         url('../fonts/HVDFontsBrandonTextRegular.ttf') format('truetype'),
         url('../fonts/HVDFontsBrandonTextRegular.svg#HVDFontsBrandonTextRegular') format('svg');
}

@font-face {
    font-family: 'HVDFontsBrandonTextBold';
    src: url('../fonts/HVDFontsBrandonTextBold.eot');
    src: url('../fonts/HVDFontsBrandonTextBold.eot') format('embedded-opentype'),
         url('../fonts/HVDFontsBrandonTextBold.woff2') format('woff2'),
         url('../fonts/HVDFontsBrandonTextBold.woff') format('woff'),
         url('../fonts/HVDFontsBrandonTextBold.ttf') format('truetype'),
         url('../fonts/HVDFontsBrandonTextBold.svg#HVDFontsBrandonTextBold') format('svg');
}

.brandon-light {
  font-family: 'HVDFontsBrandonTextLight';
}

.brandon-regular {
  font-family: 'HVDFontsBrandonTextRegular';
}

.brandon-bold {
  font-family: 'HVDFontsBrandonTextBold';
}

html {
  font-size: 10px;
}

.front {
  background: #259fbd url(../img/front-bg.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 4.4rem;
}

.wrapper {
  width: 140rem;
  margin: 0 auto;
}

.header {
  width: 115.7rem;
  margin: 0 auto;
  padding: 1.4rem 0 8.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: url(../img/logo.svg) no-repeat;
  background-size: cover;
  display: block;
  width: 15.5rem;
  height: 2.6rem;
}

.phone__icon {
  background: url(../img/icon-phone--white.svg) no-repeat;
  background-size: cover;
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 1.5rem;
}

.phone {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.phone__number {
  opacity: .85;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  .brandon-light;
}

.login-button {
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 1.4rem;
  width: 11.2rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 2.9rem;
}

.login-button__text {
  color: rgba(255, 255, 255, .8);
  .brandon-regular;
  font-size: 1.7rem;
  line-height: 2.6rem;
}

.login-button__icon {
  background: url(../img/icon-user.svg) no-repeat;
  background-size: cover;
  width: 1.2rem;
  height: 1.1rem;
  margin-right: 1.2rem;
}

.header__content {
  display: flex;
}

.title__top {
  color: #fff;
  .brandon-light;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title__middle {
  color: #fff;
  .brandon-bold;
  font-size: 9.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 3.2rem;
}

.title__bottom {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  .brandon-light;
  font-family: 'Fira Sans', sans-serif;
}

.button {
  height: 4.7rem;
  padding: 0 5rem;
  .brandon-regular;
  font-size: 1.8rem;
  line-height: 4.7rem;
  color: #af5003;
  background-color: #f3d400;
  border-radius: 2.3rem;
  display: block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.button__bold {
  .brandon-bold;
}

.front__buttons {
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
}

.button--transparent {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 26rem;
  text-align: center;
  line-height: 4.5rem;
  margin-left: 3.4rem;
}

.steps {
  width: 93.1rem;
  margin: 12.2rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__item-number {
  border: 1px solid rgba(255, 255, 255, .7);
  text-align: center;
  width: 4.6rem;
  height: 4.6rem;
  text-align: center;
  line-height: 4.6rem;
  margin-right: 2rem;
  color: #fff;
  .brandon-regular;
  font-size: 1.8rem;
  border-radius: 50%;
}

.steps__item {
  display: flex;
  align-items: center;
  position: relative;
  &:first-child {
    &:after {
      content: '';
      display: block;
      background: url(../img/steps-arrow.svg) no-repeat;
      background-size: cover;
      width: 16.7rem;
      height: 2.7rem;
      position: absolute;
      left: 17rem;
      top: -2rem;
    }
  }
  &:last-child {
    &:after {
      content: '';
      display: block;
      background: url(../img/steps-arrow.svg) no-repeat;
      background-size: cover;
      width: 16.7rem;
      height: 2.7rem;
      position: absolute;
      transform: scaleY(-1);
      left: -18.7rem;
      bottom: -3rem;
    }
  }
}

.steps__item-content {
  color: #fff;
  font-size: 1.6rem;
  .brandon-light;
  width: 19rem;
}



.front__button {
  &:after {
    content: '';
    display: block;
    width: 27.4rem;
    height: 2.1rem;
    top: 3.3rem;
    left: 1rem;
    position: absolute;
    box-shadow: 1.75rem 3.03rem 2.4rem rgba(4, 77, 95, 0.20);
  }
}

.front__button-2 {
  &:after {
    content: '';
    display: block;
    width: 23.8rem;
    height: 2.1rem;
    top: 3.3rem;
    position: absolute;
    left: -1.3rem;
    box-shadow: 1.75rem 3.03rem 2.4rem rgba(4, 77, 95, 0.16);
  }
}

.front__button-1 {
  &:after {
    content: '';
    display: block;
    width: 27.4rem;
    height: 2.1rem;
    left: 1rem;
    top: 3.3rem;
    position: absolute;
    box-shadow: 1.75rem 3.03rem 2.4rem rgba(4, 77, 95, 0.16);
  }
}



.clients {
  display: flex;
  justify-content: space-between;
  width: 113.2rem;
  margin: 0 auto;
  align-items: center;
  height: 9.7rem;
}

.advantages__header {
  color: #3a3a3a;
  .brandon-bold;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4.5rem;
}

.advantages {
  background: #fff;
  padding-top: 6.2rem;
  padding-bottom: 14rem;
}

.text-common {
  color: #595959;
  .brandon-light;
  font-size: 1.8rem;
  width: 73rem;
  margin: 0 auto;
  text-align: center;
}

.advantages__item {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__list {
  width: 111.5rem;
  margin: 3.4rem auto 0;
  display: flex;
  justify-content: space-between;
}

.advantages__item-header {
  .brandon-bold;
  font-size: 2.5rem;
  line-height: 3.4rem;
  margin-bottom: 2.5rem;
}

.advantages__item-text {
  .brandon-light;
  font-size: 1.6rem;
  color: #696969;
  text-align: center;
}

.advantages__item-picture {
  margin-bottom: 3.5rem;
}

.offer__header {
  color: #3a3a3a;
  .brandon-bold;
  font-weight: 700;
  font-size: 2.8rem;
  text-align: center;
  padding-bottom: 4.5rem;
}

.offer {
  background-color: #f7f7f7;
  padding-top: 7.5rem;
}

.offer__price {
  color: #3a3a3a;
  font-size: 3.2rem;
  .brandon-bold;
  text-align: center;
  margin: 5.5rem 0 4.3rem;
}

.offer__price-content {
  font-size: 12.2rem;
}

.button--solo {
  width: 39rem;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.projects__slider {
  width: 86.7rem;
  height: 64.1rem;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 .5rem 6.2rem rgba(39, 89, 108, 0.22);
}

.projects {
  background-color: #f7f7f7;
  padding: 5.8rem 0 5.1rem;
  .slick-arrow {
    position: absolute;
    cursor: pointer;
    z-index: 40;
    margin-top: 0;
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  .slick-prev {
    left: -14.7rem;
    top: 50%;
    background: url(../img/arrow-gray.svg) no-repeat;
    width: 5.9rem;
    height: 9.3rem;
    margin-top: -4.7rem;
    text-indent: 9999px;
    z-index: 40;
  }
  .slick-next {
    right: -14.7rem;
    top: 50%;
    margin-top: -4.7rem;
    background: url(../img/arrow-gray.svg) no-repeat;
    width: 5.9rem;
    height: 9.3rem;
    text-indent: 9999px;
    z-index: 40;
    transform: rotate(180deg);
  }
}



.projects__item-info {
  position: absolute;
  bottom: 5.4rem;
  left: 14.7rem;
  background: rgba(0, 0, 0, .7);
  padding: 1.4rem 1.8rem;
  display: flex;
  align-items: center;
}

.projects__item-time {
  font-size: 2.8rem;
  .brandon-light;
  color: rgba(255, 255, 255, .7);
  display: flex;
  align-items: center;
  &:after {
    content: '';
    display: block;
    margin: 0 2rem;
    height: 4.6rem;
    width: .2rem;
    background: #fff;
    opacity: .5;
  }
}

.projects__item-price {
  font-size: 3.8rem;
  color: #fff;
  .brandon-bold;
  display: flex;
  align-items: flex-start;
}

.projects__item-price-cents {
  color: #fff;
  font-size: 1.7rem;
  .brandon-bold;
}



.slick-dots {
  position: absolute;
  bottom: -7.9rem;
  display: flex;
  width: 100%;
  justify-content: center;
  li.slick-active button {
    background-color: #f3d400;
  }
  li+li {
    margin-left: 2rem;
  }
  button {
    width: 1.4rem;
    height: 1.4rem;
    background: #fff;
    border-radius: 50%;
    text-indent: 9999px;
    cursor: pointer;
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
}

.portfolio {
  position: relative;
  overflow: hidden;
  width: 100%;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 18rem;
    opacity: 0.8;
    background-image: linear-gradient(to right, black 0%, transparent 100%);
    z-index: 10;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 18rem;
    opacity: 0.8;
    background-image: linear-gradient(to right, transparent 0%, black 100%);
    z-index: 10;
  }
  .slick-arrow {
    position: absolute;
    text-indent: 9999px;
    top: 50%;
    width: 3.9rem;
    height: 6.3rem;
    margin-top: -2rem;
    background: url(../img/arrow-white.svg) no-repeat;
    cursor: pointer;
    z-index: 20;
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  .slick-prev {
    left: 1.3rem;
  }
  .slick-next {
    right: 1.3rem;
    transform: rotate(180deg);
  }
}
.contacts {
  background-color: #f7f7f7;
  padding: 7rem 0 6rem;
  display: flex;
  justify-content: center;
  
}

.input-text {
  width: 100%;
  height: 5.4rem;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 1.6rem;
  margin-bottom: 1.8rem;
  .brandon-regular;
  font-size: 1.7rem;
  color: #000;
  padding-left: 2rem;
  &:focus {
    outline: 0;
    box-shadow: none;
    border: 0;
  }
}

.form {
  width: 32.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-text--textarea {
  height: 11.3rem;
  padding-top: 1.5rem;
  resize: none;
}

.input-text::-webkit-input-placeholder {color:#8d8d8d;;}
.input-text::-moz-placeholder          {color:#8d8d8d;}/* Firefox 19+ */
.input-text:-moz-placeholder           {color:#8d8d8d;}/* Firefox 18- */
.input-text:-ms-input-placeholder      {color:#8d8d8d;}

.form__button {
  margin-top: 2.3rem;
}

.contacts-content {
  width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 9.7rem 0 12.5rem;
}

.contacts-content__text {
  color: #222;
  .brandon-regular;
  font-size: 1.7rem;
  line-height: 3rem;
  text-align: center;
}

.logo-blue {
  margin-bottom: 2.8rem;
}

.map {
  width: 36rem;
  height: 27rem;
  border-radius: 1.6rem;
}

.socials {
  display: flex;
  justify-content: center;
}

.footer {
  height: 13.5rem;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials__item {
  width: 4.9rem;
  height: 4.9rem;
  +.socials__item {
    margin-left: 4.5rem;
  }
}

.socials__item--fb {
  background: url(../img/icon-fb.png) no-repeat;
  background-size: cover;
}

.socials__item--google {
  background: url(../img/icon-google.png) no-repeat;
  background-size: cover;
}

.socials__item--instagram {
  background: url(../img/icon-instagram.png) no-repeat;
  background-size: cover;
}

.socials__item--pinterest {
  background: url(../img/icon-pinterest.png) no-repeat;
  background-size: cover;
}

.socials__item--whatsapp {
  background: url(../img/icon-whatsapp.png) no-repeat;
  background-size: cover;
}
.copyright {
  margin-top: 2rem;
  font-size: 1.4rem;
  .brandon-regular;
  color: #737171;
}

.upload__text {
  color: #434343;
  .brandon-light;
  font-size: 2.6rem;
  line-height: 3.6rem;
  text-align: center;
  padding-top: 5.3rem;
}

.text-bold {
  .brandon-bold;
}

.upload {
  background-color: #f7f7f7;
  border-bottom: 3px dashed #d9d9d9;
  padding-bottom: 3.3rem;
}

.form-upload__dragndrop {
  background: #fff;
  width: 62.3rem;
  height: 14.6rem;
  border: 3px dashed #dadada;
  border-radius: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.form-upload__dragndrop-icon {
  background: url(../img/upload-icon.svg) no-repeat;
  background-size: cover;
  width: 8.2rem;
  height: 5.1rem;
}

.form-upload__dragndrop-text {
  color: #434343;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  margin-top: 1.6rem;
}

.form-upload__link-text {
  color: #434343;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  text-align: center;
  margin-top: 3.4rem;
  margin-bottom: 1.4rem;
}

.form-upload__link-input {
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 1.6rem;
  width: 62.3rem;
  height: 5.4rem;
  padding-left: 2.3rem;
  font-size: 1.8rem;
  .brandon-bold;
  margin-bottom: 3.9rem;
}

.upload__button {
  padding: 0;
  width: 32rem;
  margin: 0 auto;
}

.confidentiality__icon {
  width: 1.4rem;
  height: 1.8rem;
  background: url(../img/icon-lock.png) no-repeat;
  background-size: cover;
  margin-right: 2.3rem;
}

.confidentiality {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.confidentiality__content {
  color: #8f8f8f;
  .brandon-light;
  font-size: 1.7rem;
}

.upload__close {
  position: absolute;
  color: #d2d2d2;
  .brandon-light;
  font-size: 8.6rem;
  right: 0;
  top: 0;
  transform: rotate(45deg);
  cursor: pointer;
}

.upload__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 111.9rem;
  margin: 0 auto;
}

.phone__icon--black {
  background: url(../img/icon-phone-black.svg) no-repeat;
  background-size: cover;
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 1.2rem;
}

.button--order {
  width: 16rem;
  height: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  padding: 0;
  margin-left: 3.5rem;
  color: #af5003;
  .brandon-bold;
}

.sticky-header {
  height: 6.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 0 2.3rem;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: .15rem .26rem .5rem rgba(16, 16, 14, 0.35);
  z-index: 50;
}

.sticky-header__logo {
  background: url(../img/logo-black.png) no-repeat;
  background-size: cover;
  width: 15.5rem;
  height: 2.9rem;
  position: absolute;
  top: 2.1rem;
  left: 2.3rem;
}

.menu__item-link {
  font-size: 1.8rem;
  color: #000;
  opacity: .75;
  .brandon-light;
  text-decoration: none;
}

.menu {
  display: flex;
  margin-right: 4rem;
}

.menu__item {
  +.menu__item {
    margin-left: 3rem;
  }
}

.phone__number--black {
  opacity: .85;
  color: #000;
  .brandon-bold;
  font-size: 2rem;
}



.projects__item {
  
}



.projects__content {
  width: 116.1rem;
  height: 82.1rem;
  padding-top: 5.3rem;
  overflow: hidden;
  margin: 0 auto;
}
